@import url(//fonts.googleapis.com/css?family=Kaushan+Script);

.font-thin {
    font-family: "Titillium Web", sans-serif;
    font-weight: 200;
}

.font-semibold {
    font-family: "Titillium Web", sans-serif;
    font-weight: 600;
}

.font-light {
    font-family: "Titillium Web", sans-serif;
    font-weight: 300;
}

* {
    position: relative;
}


html, body {
    width: 100%;
    height: 100%;
}

body {
    background-color: #2f2f2f;
    font-family: "Titillium Web", sans-serif;
    font-weight: normal;
    overflow-x: hidden;
    -webkit-font-smoothing: antialiased !important;
}

.navbar {
    background-color: #ffffff;
    border-bottom: 0 none;
    font-size: 12px;
    transition: .25s all linear;
}

.navbar.inv {
    background-color: rgba(0, 0, 0, .5);
    border-bottom: 1px solid #bfbfbf;
}

.navbar .nav a {
    font-size: 1.6em;
    color: #5f5f5f;
    font-family: "Titillium Web", sans-serif;
    transition: all .5 linear;
    margin: 3%;
}

.navbar.inv a {
    color: #e4e6e5;
}


.nav li {
    text-align: center;
    white-space: nowrap;
}

.nav > li > a:hover,
.nav > li > a:focus {
    background-color: inherit;
    outline: none;
}


@media (max-width: 767px) {

    .nav li {
        text-align: left;
        white-space: nowrap;
    }

    .navbar-responsive-collapse {
        width: 100%;
    }

    .active-menu {
        display: none !important;
    }

    .navbar-toggle {
        margin-right: 10px;
    }

    .navbar {
        background-color: #e4e6e5 !important;
        padding: 0;
    }

    .navbar .nav a {
        color: #e4e6e5;
        font-size: 16px;
        padding-left: 0;
    }

    .icon {
        margin-right: 12px;
    }

    .nav li[data-slide="1"],
    .nav li[data-slide="6"] {
        background-color: #2f2f2f;
    }

    .nav li[data-slide="2"] {
        background-color: #1abc9c;
    }

    .nav li[data-slide="3"] {
        background-color: #e74c3c;
    }

    .nav li[data-slide="4"] {
        background-color: #34495e;
    }

    .nav li[data-slide="5"] {
        background-color: #e67e22;
    }

    .navbar-brand {
        margin: 0;
        text-align: left;
    }
}

:focus {
    outline: none;
}

::-moz-focus-inner {
    border: 0;
}


.with-hover-text span {
    display: none;
}

.navigation-slide {
    cursor: pointer;
}

#start-container {
    margin-bottom: 150px;
}



/*Footer social icons*/
#social:hover {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
}

#social {
    margin-top: 10%;
    color: #cccccc;
    -webkit-transform: scale(0.8);
    /* Browser Variations: */
    -moz-transform: scale(0.8);
    -o-transform: scale(0.8);
    -webkit-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
}

/*
    Only Needed in Multi-Coloured Variation
                                               */
.social-fb:hover {
    color: #3B5998;
}

.social-tw:hover {
    color: #4099FF;
}

.social-gp:hover {
    color: #d34836;
}

.social-em:hover {
    color: #f39c12;
}

/*End footer social icons*/

#video {
    display: block;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: .5;
    position: relative;
    width: 100% !important;
    height: 450px;
}

#video-new{
    opacity: .5;

}


.angular-google-map-container {
    position: relative;
    height: 900px;
    z-index: 9;
}



.main-message {
    background: none repeat scroll 0 0 #FFFFFF;
    width: 100%;
}

.main-line {
    width: 100%;
    border: 2px solid #fff;
}

.main-moto {
    margin: 0 7%;
}

.main-message-center {
    color: #ffffff;
    font-size: 6rem;
    opacity: 1;
    font-weight: 900;
}

.logo-video-main {
    font-family: "Kaushan Script", serif;
    font-size: 7rem;
}

.side-apartments {
    overflow: auto;
    height: 800px;
}

.apartment-img {
    width: 100%;
    max-height: 250px;
}

.main-section{
    z-index: 4;
    background: #ffffff;
}

#logo{
    z-index: 10;
    margin: -10px;
}

#logo-letters{
    z-index: 10;
    margin-left: 10px;
}




.animate-enter {
    -webkit-transition: 1s linear all; /* Chrome */
    transition: 1s linear all;
    opacity: 0;
}

.animate-enter.animate-enter-active {
    opacity: 1;
}

/*Preloader*/
.preloader {
    padding: 25% 0;
    background: url('../images/preloader.gif') no-repeat 50% 50% transparent;
}

/*Custom search form*/

.search-panel {
    margin-top: 3%;
}

.search-form .form-group {
    color: #e74c3c;
    float: left !important;
    transition: all 0.35s, border-radius 0s;
    width: 32px;
    height: 32px;
    background-color: #fff;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    border-radius: 25px;
    border: 1px solid #ccc;
}

.search-form .form-group input.form-control {
    padding-right: 20px;
    border: 0 none;
    background: transparent;
    box-shadow: none;
    display: block;
}

.search-form .form-group input.form-control::-webkit-input-placeholder {
    display: none;
}

.search-form .form-group input.form-control:-moz-placeholder {
    /* Firefox 18- */
    display: none;
}

.search-form .form-group input.form-control::-moz-placeholder {
    /* Firefox 19+ */
    display: none;
}

.search-form .form-group input.form-control:-ms-input-placeholder {
    display: none;
}

.search-form .form-group:hover,
.search-form .form-group.hover {
    width: 35%;
    border-radius: 25px 25px 25px 25px;
}

.search-form .form-group span.form-control-feedback {
    position: absolute;
    top: -1px;
    right: -2px;
    z-index: 2;
    display: block;
    width: 34px;
    height: 34px;
    line-height: 34px;
    text-align: center;
    font-size: 14px;
}

#search {
    color: #e74c3c;
}

#apartments-list {
    margin-right: 10%;
}


.phone-em{
    font-size: 3rem;
    font-weight: 800;
}
/*End of search form*/

/*No results*/
.no-results{
    color:#aaaaaa;
    width: 100%;
    height: 636px;
    background: #eee;
    font-size: 4rem;
}

.no-results p{
    padding:30%
}

/*ng-Animate on changing screens*/
.view-animate-container {
    position:relative;
    height:100%!important;
    background:white;
    /*overflow:hidden;*/
}

.view-animate.ng-enter, .view-animate.ng-leave {
    -webkit-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 1s;
    transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 1s;

    display:block;
    width:100%;

    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    padding:10px;
}

.view-animate.ng-enter {
    left:100%;
}
.view-animate.ng-enter.ng-enter-active {
    left:0;
}
.view-animate.ng-leave.ng-leave-active {
    left:-100%;
}

/*team members slis*/

.app-page{
    margin-top:5%;
}

.team-photo{
    margin: 0 25%;
    height: 120px;
    width: 120px;
    transition: .2s all;

}

.team-photo:hover{
    height: 150px;
    width: 150px;
    transition: .2s all;

}
/*==============================*/
/*Pin style*/

.icon-small{
    color:#ccc;
    margin: 2%;
}

.image-pin{
    height: 100px;
    width:100px;
    margin: 2%;
}

.side-header{
    color:#18bc9c;
}

.text-pin{
    text-decoration: none;
}

/*==============================*/
/*Apartment deails*/
.header-apartment{
    width: 100%;
    height: 250px;
}

.details-user-image{
    margin: 4% 0;
    width: 150px;
    height: 150px ;
}

.details-title{
    height: 100%;
    margin: 2%;
    font-size: 4rem;
    font-weight: 900;
}

.right-panel{
    color: #ffffff;
    font-size: 8rem;
    height: 207px;
    background: #23ae97;
    margin-top: -3%;
    padding-top: 3% ;
}

.apartment-description{
    margin: 4% 0;
    font-size: 1.3em;
    color:#989898;
}

.apartment-room-title{
    font-size: 1.3em;
    color:#989898;
}


/*Registration form*/
.owner-text{
    margin: 10% 0;
}

.check-prim{
    opacity: 1 !important;
    position: relative !important;
}

.submit-btn{
    margin-top: 5%;
}
/*General bootstrap elements*/

/*Material cards css*/
.card {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.card {
    margin-top: 10px;
    box-sizing: border-box;
    border-radius: 2px;
    background-clip: padding-box;
}
.card span.card-title {
    color: #fff;
    font-size: 24px;
    font-weight: 300;
    text-transform: uppercase;
}

.card .card-image {
    position: relative;
    overflow: hidden;
}

.card .card-image img {
    border-radius: 2px 2px 0 0;
    background-clip: padding-box;
    position: relative;
    z-index: 1;
}
.card .card-image span.card-title {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 16px;
}
.card .card-content {
    padding: 16px;
    border-radius: 0 0 2px 2px;
    background-clip: padding-box;
    box-sizing: border-box;
}
.card .card-content p {
    margin: 0;
    color: inherit;
}
.card .card-content span.card-title {
    line-height: 48px;
    z-index: 2;
}
.card .card-action {
    border-top: 1px solid rgba(160, 160, 160, 0.2);
    padding: 16px;
}
.card .card-action a {
    color: #008d4c;
    margin-right: 16px;
    transition: color 0.3s ease;
    text-transform: uppercase;
}
.card .card-action a:hover {
    color: #ffd8a6;
    text-decoration: none;
}

.col-centered{
    float: none;
    margin: 0 auto;
}


  /*-------------------------------*/
/*      Code snippet by          */
/*      @maridlcrmn              */
/*-------------------------------*/

#carousel{
    background: #23ae97;
    color: #ffffff;
}

.quote {
    color: rgba(0,0,0,.1);
    text-align: center;
    margin-bottom: 30px;
}

/*-------------------------------*/
/*    Carousel Fade Transition   */
/*-------------------------------*/

#fade-quote-carousel.carousel {
    padding-bottom: 60px;
}
#fade-quote-carousel.carousel .carousel-inner .item {
    opacity: 0;
    -webkit-transition-property: opacity;
    -ms-transition-property: opacity;
    transition-property: opacity;
}
#fade-quote-carousel.carousel .carousel-inner .active {
    opacity: 1;
    -webkit-transition-property: opacity;
    -ms-transition-property: opacity;
    transition-property: opacity;
}
#fade-quote-carousel.carousel .carousel-indicators {
    bottom: 10px;
}
#fade-quote-carousel.carousel .carousel-indicators > li {
    background-color: #fff;
    border: none;
}
#fade-quote-carousel blockquote {
    text-align: center;
    border: none;
}
#fade-quote-carousel .profile-circle {
    width: 100px;
    height: 100px;
    margin: 0 auto;
    border-radius: 100px;
}